/* Styles go here */

.glyphicon-star-empty {
  font-size: 1.2em;
  color: grey;
}

.glyphicon-star {
  font-size: 1.2em;
  color: yellow;
}

form label {
  color: #3A2B4C;
}

table label {
  color: #3A2B4C;
}