<!DOCTYPE html>
<html data-ng-app="providerApp">

<head>
  <meta charset="utf-8"></meta>
  <meta name="description" content=""></meta>
  <meta name="viewport" content="width=device-width"></meta>
  <title>Care Provider</title>
  <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
  <script src="resources/js/lib/angular.js"></script>
  <script src="resources/js/lib/angular-route.js"></script>
  <script src="resources/js/lib/angular-ui-bootstrap.js"></script>
  <link rel="stylesheet" href="resources/css/style.css" />
  <script src="resources/js/lib/dirPagination.js"></script>
  <script src="resources/js/providerApp.js"></script>
  <script src="resources/js/providerSearchController.js"></script>

</head>

<body class="container-fluid" data-ng-controller="indexController">
  <header id="header">
    <img src="resources/images/IBM_LOGO.jpg" class="img-responsive imageRes" alt="IBM_LOGO" />
  </header>
  <hr/>
  <!-- div which displays the view to the application based on the routing configuration -->
  <div data-ng-view="" class="outerBox"></div>
  <hr/>
  <footer>
    <a href="" data-ng-click="scrollTo(header)">Return to Top</a>
  </footer>
</body>

</html>