
<!DOCTYPE html>
<html data-ng-app="providerApp">

<head>
<meta charset="utf-8"></meta>
<meta name="description" content=""></meta>
<meta name="viewport" content="width=device-width"></meta>
<title>Mississippi Department of Human Services - Child Care Payment System</title>
<link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
<script data-require="angular.js@1.5.8" data-semver="1.5.8" src="https://code.angularjs.org/1.5.8/angular.js"></script>
<script data-require="angular-route@*" data-semver="1.5.8" src="https://code.angularjs.org/1.5.8/angular-route.js"></script>
<script data-require="ui-bootstrap@*" data-semver="2.2.0" src="https://cdn.rawgit.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-2.2.0.js"></script>
<link rel="stylesheet" href="resources/css/style.css"/>
<script src="resources/js/lib/dirPagination.js"></script>
<script src="resources/js/providerApp.js"></script>
<script src="resources/js/providerSearchController.js"></script>

</head>

<body class="container-fluid">
	<header id="header">Header<br/>
	<img src="resources/images/mdhs_logo.png" class="img-responsive" alt="MDHS_LOGO" width="256" height="110" />
	</header>
	<hr/>
	<div data-ng-view=""></div>
	<hr/>
	<footer>Footer<br/>
	<a href="header">Return to Top</a>
	<div class="col-sm-offset-6">This is an Sample Web page Developed for the RFP of Mississippi Department of Human Services</div><br/>
	<span class="glyphicon glyphicon-copyright-mark"></span><a href="www.ibm.in">IBM India Pvt Ltd</a></footer>
</body>


</html> 
