<!DOCTYPE html>
<html>
	<div class="container-fluid" data-ng-controller="providerSearchController">

		<div id="formStart">
			<form name="providerAppForm" id="providerAppForm" class="form-horizontal">
				<fieldset>
			        <legend> Search Child Care Provider </legend>
			        <br/>
					<div class="form-group">
						<label for="providerName" class="col-sm-3 control-label">Provider Name</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" data-ng-model="searchData.name" id="providerName" name="providerName" />
						</div>
						<div class="col-sm-3"></div>
					</div>
					<div class="form-group">
						<label for="providerType" class="col-sm-3 control-label">Provider Type</label>
						<div class="col-sm-6">
							<select id="providerType" class="form-control" name="providerType" data-ng-model="searchData.providerType" data-ng-options="providerType.description for providerType in providerType"></select>
						</div>
						<div class="col-sm-3"></div>
					</div>
					<div class="form-group">
						<label for="county" class="col-sm-3 control-label">County</label>
						<div class="col-sm-6">
							<select data-ng-model="searchData.addressCounty" class="form-control" id="county" name="county" data-ng-options="county.county for county in county" data-ng-change="getCity()" ></select>
						</div>
						<div class="col-sm-3"></div>
					</div>
					<div class="form-group">
						<label for="city" class="col-sm-3 control-label">City</label>
						<div class="col-sm-6">
							<select class="form-control" data-ng-model="searchData.addressCity"
								id="city" name="city"
								data-ng-options="city.city for city in city"></select>
						</div>
						<div class="col-sm-3"></div>
					</div>
					<div class="form-group">
						<label for="qualityRating" class="col-sm-3 control-label">Quality Star Rating</label>
						<div class="col-sm-6">
							<select class="form-control" id="qualityRating" name="qualityRating"
							data-ng-model="searchData.qualityRating"
								data-ng-options="qualityRating.ratingId for qualityRating in qualityRating"></select>
						</div>
						<div class="col-sm-3"></div>
					</div>
			        <div class="form-group">        
						<div class="col-sm-offset-3 col-sm-9">
							<button id="submitButton" class="btn btn-primary" data-ng-click="providerSearch(searchData)" type="submit">Search</button>
							<button id="resetButton" class="btn btn-default" type="reset" data-ng-click="resetData()">Reset</button>
						</div>
					</div>
					<div class="col-sm-offset-3 col-sm-9 text-danger" data-ng-show="invalidData">
						Please specify at least one search criteria</div>
			      </fieldset>
			</form>
		</div>
		<hr></hr>
		<div id="SearchResult" data-ng-show="displayResult">
			<div class="col-sm-offset-3 col-sm-9 text-info" data-ng-show="emptyResult">No results to display</div>
			<div class="container">
				<label for="sortBy">SortBy:</label>
				<select id="sortBy" name="sortBy" data-ng-model="sortBy" data-ng-change="sortBySearch(sortBy)"
								data-ng-options="sortByFields.name for sortByFields in sortByFields"></select>
			</div>
			<div>
				<button id="sortOrder" class="btn btn-default btn-sm" data-ng-click="changeSortSign()">
					<span class="glyphicon glyphicon-sort"></span>
				</button>
			</div>
			<div class="container col-sm-offset-3 col-sm-9">
				<dir-pagination-controls
				   max-size="5"
				   direction-links="true"
				   boundary-links="true" >
				</dir-pagination-controls>
			</div>
			<table class="table table-striped">
				<tbody>
					<tr data-dir-paginate="provider in getSearchData | orderBy:sortBy:sortSign | itemsPerPage:10">
						<td>{{provider.name}}<br></br>
						<strong>Type:</strong> {{provider.providerType.description}}</td>
						<td>{{provider.licenseType}}<br></br>
						<strong>Capacity:</strong> {{provider.capacity}}</td>
						<td><strong>County:</strong> {{provider.address.county}}<br></br>
						<strong>City:</strong> {{provider.address.city}}<br></br>
						<strong>Contact No:</strong> {{provider.phoneNumber}}</td>
						<td><span data-uib-rating="" data-ng-model="provider.rating.ratingId" data-max="5" data-read-only="true" ></span></td>
					</tr>
				</tbody>
			</table>
			<div class="container col-sm-offset-3 col-sm-9">
				<dir-pagination-controls
				   max-size="5"
				   direction-links="true"
				   boundary-links="true" >
				</dir-pagination-controls>
			</div>
		</div>
		<hr></hr>
	</div>
</html>